h1   
 
{  
 
    color: white;  
 
}   
 
  
 
body   
 
{  
 
    background-color: #4f4f4f;   
 
    display: flex;  
 
    justify-content: center;  
 
    align-items: center;  
 
    height: 100vh;  
 
    margin: 0;  
 
    font-family: Arial, sans-serif;  
 
}  
 
  
 
.login-container {  
 
    text-align: center;  
 
    width: 300px;  
 
    padding: 20px;  
 
    background-color: #4f4f4f;  
 
    border-radius: 10px;  
 
}  
 
  
 
  
 
.logo   
 
{  
 
    width: 200px;  
 
    margin-bottom: 20px;  
 
}  
 
  
 
.login-form   
 
{  
 
    display: flex;  
 
    flex-direction: column;  
 
    gap: 10px;  
 
}  
 
  
 
.input-field   
 
{  
 
    padding: 10px;  
 
    border: none;  
 
    border-radius: 5px;  
 
    background-color: white;  
 
    color: #333;  
 
}  
 
  
 
.login-button   
 
{  
 
    padding: 10px;  
 
    border: none;  
 
    border-radius: 5px;  
 
    background-color: #d32f2f;  
 
    color: white;  
 
    font-weight: bold;  
 
    cursor: pointer;  
 
}  
 
  
 
.login-button:hover   
 
{  
 
    background-color: #b71c1c;  
 
} 